<div>

    <h1>x axis</h1>
    <div class="x-axis-graph">
        <svg graph margin-x="35" margin-y="20">
            <g axis domain="xDomain"></g>
        </svg>
    </div>

    <div hljs language="javascript" class="highlight">function() {
    var x = 'hello';
}</div>

    <h1>y axis</h1>
    <div class="y-axis-graph">
        <svg graph margin-x="35" margin-y="20">
            <g axis orientation="y" domain="yDomain"></g>
        </svg>
    </div>

    <h1>x + y axis</h1>
    <div class="x-axis-graph y-axis-graph">
        <svg graph margin-x="35" margin-y="20">
            <g axis domain="xDomain"></g>
            <g axis orientation="y" domain="yDomain"></g>
        </svg>
    </div>

</div>