<div>

    <h1>x axis</h1>
    <div class="x-axis-graph">
        <svg x-margin="30" y-margin="30">
            <g axis></g>
        </svg>
    </div>

    <h1>y axis</h1>
    <div class="y-axis-graph">
        <svg x-margin="30" y-margin="30">
            <g axis orientation="y"></g>
        </svg>
    </div>

    <h1>x + y axis</h1>
    <div class="x-axis-graph y-axis-graph">
        <svg x-margin="30" y-margin="30">
            <g axis></g>
            <g axis orientation="y"></g>
        </svg>
    </div>

    <div class="btn" ng-click="generateData()">Generate Data</div>
</div>