<div>

    <div menu>

        <section>

            <h1>Getting Started</h1>
            <div class="hr"></div>

        </section>

        <section>

            <h1>Axes</h1>
            <div class="hr"></div>

            <section>
                <h2>Creating axes</h2>
                <p>Creating an axis is super easy. Here's a simple example.</p>
                <p ng-include="'partials/guide_code/x-axis.html'"></p>
            </section>

            <section>
                <h2>Orientation</h2>
                <p>Axes can be oriented vertically or horizontally</p>
                <p ng-include="'partials/guide_code/x-axis.html'"></p>
            </section>

            <section>
                <h2>Domain</h2>
                <p></p>
            </section>

            <section>
                <h2>Scales</h2>
                <p></p>
            </section>

            <section>
                <h2>Making axes responsive</h2>
                <p></p>
            </section>

        </section>

        <section>

            <h1>Bar Graphs</h1>

            <section>
                <h2>Creating bar graphs</h2>
                <p></p>
            </section>

            <section>
                <h2>Fixed spacing</h2>
                <p></p>
            </section>

            <section>
                <h2>Responsive</h2>
                <p></p>
            </section>

        </section>

        <section>

            <h1>Line Graphs</h1>

            <section>
                <h2>Creating line graphs</h2>
                <p></p>
            </section>

        </section>

    </div>

</div>