body {
    padding: 0;
    margin: 0;
    font: 14px sans-serif;
    color: #666;
}

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

/* links */

a {
    cursor: pointer;
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* header */

.logo {
    color: #868686;
    padding: 13px 0 0 20px;
    font-size: 18px;
    font-weight: 100;
}

.header {
    background: rgba(241,241,241,.96);
    border-bottom: 1px solid rgba(0,0,0,.08);
    position: fixed;
    left: 0; right: 0; top: 0;
    height: 50px;
    overflow: auto;
}

.header .nav-item {
    border-right: 1px solid white;
    float: right;
    padding-right: 20px;
}

.header .nav-item.active {

}

.header a {
    display: inline-block;
    font-size: 18px;
}

/* menu and content */

ul {
    padding: 0; margin: 0;
}

li {
    list-style: none;
}

.menu-content {
    margin-right: 200px;
}

.menu {
    position: fixed;
    top: 80px;
    right: 20px;
}
.menu > li {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    color: #696969;
}

.sub-menu a {
    color: #bbb;
    cursor: pointer;
}
.sub-menu a.active {
    color: rgb(255, 162, 110);
}
.sub-menu > li {
    font-size: 12px;
    font-weight: 100;
    margin-top: 5px;
}

.hr {
    position: absolute;
    border-top: 1px solid #ddd;
    left: 0;
    right: 200px;
}

/* headings and content */

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    padding: 80px 0 0 80px;
    font-size: 36px;
    color: #696969;
    margin-bottom: 10px;
}

h2 {
    padding: 60px 0 0 80px;
}

h3 {

}

h4 {
    padding: 20px 0 2px 0;
    font-size: 0.9em;
}

p {
    padding: 10px 0 0 80px;
}

/* graphs */

.demo-graph {
    border: 1px solid #ddd;
    padding: 0px 0 20px 0;
    border-radius: 3px;
    font-size: 10px;
}

.btn {
    position: relative;
    left: 35px; top: 20px;
    background: #6f5499;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

/* lines */

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

/* bars */

rect.bar {
    fill: steelblue;
}

/* axes */

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.demo-graph.x-axis {
    height: 50px;
}

.demo-graph.y-axis {
    height: 200px;
}

/* code highlighting */

.highlight pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin: 0;
}
.highlight code {
    padding: 0;
}


